* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 3px;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 120px;
    height: auto;
}

.login {
    padding: 10px   22px;
    font-size: medium;
    transition: 0.3s;
}

.login:hover {
    color: rgb(0, 128, 255);
}

.get-started:hover {
    background-color: rgb(90, 153, 253);
    
}

.demo:hover {
    background-color: rgb(242, 243, 245);
}

.description {
    margin-top: 20px;
    font-size: 16px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: bold;
    margin-right: 20px;
    align-items: baseline;
}

.nav-links li a:hover {
    color:  rgb(0, 128, 255);
    transition: 0.3s;
}

.nav-links li {
    margin-top: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    
}

a:hover {
    color: rgb(0, 128, 255)
}


button {
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}
.get-started {
    margin-top: 20px;
    background-color: rgb(75, 138, 255);
    color: white;
    
}

.demo {
    margin-top: 20px;
    padding: 13px 20px;
}

.hero-image {
    width: 100%;
    height: auto;
    background-origin: transparent;
    cursor: auto;
    
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: normal;
}

.hero-overlay {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
    
}

.video-preview {
    margin-bottom: 20px;
    width: 70%;
    height: auto;
    cursor: pointer;
    align-items: center;
}

.get-started2 {
    margin-top: 20px;
    background-color: rgb(90, 153, 253);
    color: white;
    padding: 13px 20px;
}

.get-started2:hover {
    background-color: rgb(75, 138, 255);
}

.second-hero {
    background-color: rgb(22, 22, 23);
    color: white;
    padding: 60px;
    
}

h3 {
    margin-left: -30px;
    font-size: 35px;
    font-weight: normal;
}

.testimonial {
    background-color: white;
    color: black;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    margin: 16px;
    font-size: 20px;
        
}

.main {
    display: flex;
    margin: 15px -45px;
    width: 100%;
    height: auto;
    justify-content: center;
    
    
}

.third-hero {
    background-color: white;
    text-align: center;
    padding: 50px;
}

.package {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.product {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10px;
    padding: 50px 15px 25px 15px;
    height: 580px;
    width: 350px;
}

.second-product {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 50px 15px 25px 15px;
    height: 580px;
    width: 350px;
}

.price {
    border-bottom: 1px solid #333;
}

.second-price {
    border-bottom: 1px solid #fff;
}

.get-started3 {
    width: 100%;
    background-color: rgb(75, 138, 255);
    color: white;
    margin-top: 2px;
}
.get-started3:hover {
    background-color: rgb(90, 153, 253);
}

.get-started4 {
    width: 100%;
    background-color: rgb(90, 153, 253);
    color: white;
    margin-top: 35px;
}

.get-started4:hover {
    background-color: rgb(75, 138, 255);
}  

.product li {
    list-style: none;
    
}

.second-product li {
    list-style: none;
    
}
.fourth-hero {
    background-color: whitesmoke;
}

h4 {
    font-size: 34px;
    font-weight: normal;
}

.pricing {
    font-size: 17px;
    margin-bottom: 50px;
}

.faq {
    text-align: center;
}

.faq-tabs {
    display: inline-flex;
    background: #e5e5e5;
    border-radius: 10px;
    margin-bottom: 40px;
  
}

.tab-active {
    background: rgb(75, 138, 255);
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 6px;
}


.tab {
   background: #e5e5e5; 
}

.faq-item {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

.question {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.answer {
    display: none;
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    background-color: black;
    max-width: 100%;
    padding: 20px;
}

.footer-content img{
    width: 200px;
    cursor: default;
    
}

.footer-links a {
    color: white;
    text-decoration: none;
    
    
}

.footer-links {
    margin-top: 20px;
    
    
}

.footer-text {
    color: white;
    font-size: 16px;
    text-align: center;
    
}

.hamburger {
   display: none;
   border: none;
   background: none;
   flex-direction: column;
   cursor: pointer;
   gap: 7px;
   z-index: 1000;
}

.hamburger span.bar {
   width: 30px;
   height: 3px;
   background-color: #000;
   border-radius: 5px;
}

.menu-toggle {
    display : none;
    cursor: pointer;
    font-size: 25px;
    margin-left: auto;
    
} 

@media (max-width: 866px) {
    .product, .second-product {
        width: 100%;
        height: auto;
        margin: 10px 0;
        padding: 30px 15px;
    }


}

@media (max-width: 678px) {
    .menu-toggle {
        display: block;
        
    }

    .nav-links {
        display: none;
        
    }
    
    
}

.hero-image {
    display: block;
}

.hero-image-desktop {
    display: none;
}
@media (max-width: 678px) {
    .hero-image {
        display: none;
    }

    .hero-image-desktop {
        display: block;
        width: 100%;
        height: auto;
    }

    .hero .get-started  {
        display: block;
        width: 100%
    }

    .hero .demo  {
        display: block;
        width: 100%
    }

    .package {
        display: grid;
        align-items: center;
        gap: 10px;
    }

    .main {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-right: 20px;
        align-content: center;
        
    }

    .testimonial {
        width: 100%;
        height: auto;
        margin: 10px 0;
        padding: 20px;
        font-size: 18px;
    }
}



